<div class="header" style="margin: 20px 0 50px 20px; width: 50%">
  <div class="row">
    <div class="col-lg-10">
      <input class="form-control" autofocus placeholder="enter subreddit's name or leave blank to see frontpage"  (keyup)="onSearch($event,input.value)"type="text" #input>
    </div>
    <div class="col-lg-2">
      <button class="btn btn-primary" style="width:100%;height:100%"(click)="getSub(input.value)">Go</button>
    </div>
  </div>
  <div class="btn-group">
    <button class="btn" *ngFor="let filter of filters" (click)="onFilter(filter)">{{filter}}</button>
  </div>
</div>

<div class="content">
  <ul class="list-group">
    <li class="list-group-item row" *ngFor="let thread of threads">
      <div class="col-lg-1"><p>Votes</p><p>{{thread.data.ups}}</p></div>
      <div class="col-lg-11">
      <h3>{{thread.data.title}}</h3>
      <a target="_blank" [href]="'https://reddit.com' + thread.data.permalink">See thread</a>
    </div>
    </li>
  </ul>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/ng2-bootstrap/x.x.x/ng2-bootstrap.min.js"></script>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">